* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana;
}

:root {
    --color-white: #f5f5f5;
    --color-verde1: #10846F;
    --color-verde2: #15ad91;
    --color-verde3: #035042;
    --color-black: #000117;
}

body {
    /*background-image: url(""); 
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
    background: #d3d3d3;
}

.content {
    width: 100%;
    height: 92vh;
    display: flex;
    justify-content: center;
}

.content .divFrom-home{
    max-width: 40vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 1rem 0;
    border: 1px solid var(--color-white);
    background-color: var(--color-verde1);
    box-shadow: 0px 0px 5px var(--color-verde3),
    0px 0px 5px var(--color-verde3),
    0px 0px 5px var(--color-verde3),
    0px 0px 5px var(--color-verde3);
    border-radius: 5px;
}

.divFrom-home h1{
    color: var(--color-white);
    font-size: 2rem;
    padding: 0.5rem;
    margin-bottom: 0.8rem;
    border-bottom: 1px solid var(--color-white);
}

.divFrom-home p{
    color: var(--color-white);
    font-size: 1rem;
    margin: 0.5rem;
}

.divFrom-home #formHome{
    width: 100%;
    padding: 0.5rem;
}

#formHome #btn-buscar{
    padding: 0.5rem;
    margin: 0.5rem 0;
    font-size: 1rem;
    color: var(--color-white);
    background-color: transparent;
    border: 1px solid var(--color-white);
    border-radius: 5px;

}

#formHome #btn-buscar:hover{
    color: var(--color-verde1);
    background-color: var(--color-white);
    transition: 0.3s;
}