<div class="form_div">
    <h1> Bem-Vindo </h1>
    <form id="form_cadastro" action="">
        <input type="text" name="nome" id="nome" placeholder="Nome" autocomplete="off">
        <input type="email" name="email" id="email" placeholder="Email" autocomplete="off">
        <input type="date" name="dataNaicimento" id="dataNaicimento" autocomplete="off">
        <input type="password" name="senha" id="senha" placeholder="Senha" autocomplete="off">
        <input type="password" name="confirmarSenha" id="senha" placeholder="Confirmar senha" autocomplete="off">
        <button>Cadastro</button>
    </form>
</div>