<div class="divFrom-home">
    <h1>Buscar Receitas</h1>
    <p>Para Buscar uma receita, primeiro adicione os ingredientes
        desejados clicando no botão à direita no campo a baixo( v ),
        em seguida clique no botão "Buscar".</p>
    <form action="" id="formHome">
        <select name="countries" id="countries" multiple>

            <option value="1">Afghanistan</option>
            <option value="2">Australia</option>
            <option value="3">Germany</option>
            <option value="4">Canada</option>
            <option value="5">Russia</option>
            <option value="6">Russia</option>
            <option value="7">Russia</option>
            <option value="8">Russia</option>
            <option value="9">Russia</option>
            <option value="10">Russia</option>

        </select>

        <button id="btn-buscar" type="submit">Buscar</button>
    </form>
</div>