<div class="div-lista-receitas">

    <div class="card-receita-list">
        <h2>Bentô japonês</h2>
        <div class="img-list-card">
            <img src="../imgs/slide1.jpg" alt="">
        </div>
        <h3 class="autor-list-card">Autor: Avatar Test</h3>
        <div class="ingr-list-card">
            <p>Shoyu</p>
            <p>Arroz</p>
            <p>Cenoura</p>
            <p>Shoyu</p>
            <p>Arroz</p>
            <p>Cenoura</p>
        </div>

    </div>

    <div class="card-receita-list">
        <h2>Bentô japonês</h2>
        <div class="img-list-card">
            <img src="../imgs/slide1.jpg" alt="">
        </div>
        <h3 class="autor-list-card">Autor: Avatar Test</h3>
        <div class="ingr-list-card">
            <p>Shoyu</p>
            <p>Arroz</p>
            <p>Cenoura</p>
        </div>

    </div>

    <div class="card-receita-list">
        <h2>Bentô japonês</h2>
        <div class="img-list-card">
            <img src="../imgs/slide1.jpg" alt="">
        </div>
        <h3 class="autor-list-card">Autor: Avatar Test</h3>
        <div class="ingr-list-card">
            <p>Shoyu</p>
            <p>Arroz</p>
            <p>Cenoura</p>
        </div>

    </div>

    <div class="card-receita-list">
        <h2>Bentô japonês</h2>
        <div class="img-list-card">
            <img src="../imgs/slide1.jpg" alt="">
        </div>
        <h3 class="autor-list-card">Autor: Avatar Test</h3>
        <div class="ingr-list-card">
            <p>Shoyu</p>
            <p>Arroz</p>
            <p>Cenoura</p>
        </div>

    </div>

    <div class="card-receita-list">
        <h2>Bentô japonês</h2>
        <div class="img-list-card">
            <img src="../imgs/slide1.jpg" alt="">
        </div>
        <h3 class="autor-list-card">Autor: Avatar Test</h3>
        <div class="ingr-list-card">
            <p>Shoyu</p>
            <p>Arroz</p>
            <p>Cenoura</p>
            <p>Shoyu</p>
            <p>Arroz</p>
        </div>

    </div>

    <div class="card-receita-list">
        <h2>Bentô japonês</h2>
        <div class="img-list-card">
            <img src="../imgs/slide1.jpg" alt="">
        </div>
        <h3 class="autor-list-card">Autor: Avatar Test</h3>
        <div class="ingr-list-card">
            <p>Shoyu</p>
            <p>Arroz</p>
            <p>Cenoura</p>
        </div>

    </div>

    <div class="card-receita-list">
        <h2>Bentô japonês</h2>
        <div class="img-list-card">
            <img src="../imgs/slide1.jpg" alt="">
        </div>
        <h3 class="autor-list-card">Autor: Avatar Test</h3>
        <div class="ingr-list-card">
            <p>Shoyu</p>
            <p>Arroz</p>
            <p>Cenoura</p>
        </div>

    </div>

</div>