<div class="div_left">
    <div class="div_form">
        <h1>Login</h1>
        <form id="form_login" action="">
            <input type="email" name="email" id="email" placeholder="Email">
            <input type="password" name="senha" id="senha" placeholder="Senha">
            <button>Entrar</button>
            <a href="">Criar uma conta!</a>
            <a href="">Esqueceu a senha?</a>
        </form>
    </div>

</div>

<div class="div_right">

    <div class="div_slide">
        <div class="slides">

            <input class="input" type="radio" name="slide" id="slide1" checked>
            <input class="input" type="radio" name="slide" id="slide2">
            <input class="input" type="radio" name="slide" id="slide3">
            <input class="input" type="radio" name="slide" id="slide4">
            <input class="input" type="radio" name="slide" id="slide5">


            <div class="slide s1">
                <img src="../imgs/slide1.jpg" alt="">
            </div>

            <div class="slide">
                <img src="../imgs/slide2.jpg" alt="">
            </div>

            <div class="slide">
                <img src="../imgs/slide3.jpg" alt="">
            </div>

            <div class="slide">
                <img src="../imgs/slide4.jpg" alt="">
            </div>

            <div class="slide">
                <img src="../imgs/slide5.jpg" alt="">
            </div>
        </div>

        <div class="navigation">

            <label class="bar" for="slide1"></label>
            <label class="bar" for="slide2"></label>
            <label class="bar" for="slide3"></label>
            <label class="bar" for="slide4"></label>
            <label class="bar" for="slide5"></label>

        </div>
    </div>

</div>