<div class="div-perfio">

    <!-- Datos Perfio div -->
    <div class="datos-perfio">

        <div class="div-img-perfio">
            <div class="img-perfio">
                <img src="../imgs/perfio.png">
            </div>
        </div>

        <div class="div-datos-perfio">

            <div class="info-perfio">
                <p id="nome-perfio">Avatar Teste</p>
                <p id="email-perfio">avatar@test.com</p>
                <p id="idade-perfio">25/05/1995</p>
            </div>

            <div class="btn-perfio">
                <button>Editar Perfio</button>
                <button>Excluir Perfio</button>
            </div>

        </div>

    </div>

    <!-- Lista De Receitas Do Prefio -->
    <div class="receitas-perfio">

        <div class="receita-card">
            <p id="nome-receita-pf">Bentô japonês</p>
            <div class="img-receita-pf">
                <img src="../imgs/slide1.jpg" alt="">
            </div>
            <div class="bnt-receita-card">
                <button>Editar</button>
                <button>Excluir</button>
            </div>
        </div>

        <div class="receita-card">
            <p id="nome-receita-pf">Bentô japonês</p>
            <div class="img-receita-pf">
                <img src="../imgs/slide1.jpg" alt="">
            </div>
            <div class="bnt-receita-card">
                <button>Editar</button>
                <button>Excluir</button>
            </div>
        </div>

        <!-- 
        <div class="receita-card" >
          <p id="nome-receita-pf" >Bentô japonês</p>
          <div class="img-receita-pf">
            <img src="../imgs/slide1.jpg" alt="">
          </div>
          <div class="bnt-receita-card">
            <button>Editar</button>
            <button>Excluir</button>
          </div>
        </div>

        <div class="receita-card" >
          <p id="nome-receita-pf" >Bentô japonês</p>
          <div class="img-receita-pf">
            <img src="../imgs/slide1.jpg" alt="">
          </div>
          <div class="bnt-receita-card">
            <button>Editar</button>
            <button>Excluir</button>
          </div>
        </div>
          -->
    </div>

</div>