<div class="div-receitaCompleta">
    <h1>Bolo de cenoura</h1>
    <div class="img-receita-cp">
        <img src="../imgs/slide2.jpg" alt="">
    </div>
    <div class="dados-receita-cp">
        <div class="info-receitas">
            <h4>Autor da Receita:</h4>
            <p>Avatar Teste</p>
        </div>
        <div class="info-receitas">
            <h4>Tempo de Preparo:</h4>
            <p>01:25</p>
        </div>
        <div class="info-receitas">
            <h4>Porções:</h4>
            <p>01</p>
        </div>
    </div>
    <div class="ing-receita-cp">
        <h4>Ingredientes:</h4>
        <div class="ing-list-cp">
            <p>Cenoura</p>
            <p>Trigo</p>
            <p>Ovos</p>
            <p>Fermento</p>
        </div>
    </div>
    <div class="preparo-receita-cp">
        <h4>Modo de Preparo:</h4>
        <p>
            Pré-aqueça o forno a 180 graus Celsius. Em uma tigela grande, misture o açúcar e o óleo
            vegetal até ficar homogêneo. Adicione os ovos, um de cada vez, e misture bem.

            Adicione a cenoura ralada e misture novamente. Em outra tigela, misture a farinha de trigo, o fermento
            em pó e a canela em pó (se desejar). Adicione essa mistura à tigela com os ingredientes líquidos e misture
            até ficar homogêneo.

            Despeje a massa em uma forma untada e enfarinhada e leve ao forno por cerca de 40 minutos, ou até que
            um palito inserido no centro do bolo saia limpo.
        </p>
    </div>
</div>F