* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --color-white: #f5f5f5;
    --color-verde1: #10846F;
    --color-verde2: #15ad91;
    --color-verde3: #035042;
    --color-black: #000117;
    --color-fundo: #10846fef;
    
}

body {
    background-image: url("../imgs/fundo02.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: transparent;
}

.content {
    width: 100%;
    min-height: 92vh;
    display: flex;
    justify-content: center;
}

.content .div-form {
    max-width: 40rem;
    width: 100%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border: 1px solid var(--color-white);
    background-color: var(--color-fundo);
    box-shadow:
        0px 0px 5px var(--color-verde3),
        0px 0px 5px var(--color-verde3),
        0px 0px 5px var(--color-verde3),
        0px 0px 5px var(--color-verde3);
    border-radius: 10px;
}

.content .div-form h1 {
    color: var(--color-white);
    font-size: 2rem;
}

.content .div-form p {
    color: var(--color-white);
    font-size: 1rem;
    font-weight: 500;
}

.content .div-form #form-receita {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form-receita input {
    padding: 0.5rem;
    margin: 0.5rem;
    width: 100%;
    background: none;
    border: none;
    border-bottom: 1px solid var(--color-white);
    font-size: 1rem;
    color: var(--color-white);
    outline: none !important
}

#form-receita textarea {
    padding: 0.5rem;
    margin: 0.5rem;
    width: 100%;
    height: 20vh;
    background: none;
    border: none;
    border: 1px solid var(--color-white);
    border-radius: 5px;
    font-size: 1rem;
    color: var(--color-white);
    outline: none !important
}

#form-receita input::placeholder,
textarea::placeholder {
    color: var(--color-white);
    font-size: 1rem;
}

#form-receita input:hover {
    box-shadow: 0px 10px 10px #ffffff33;
    transform: translateY(-3px);
    border-left: 1px solid var(--color-white);
    border-right: 1px solid var(--color-white);
    border-top: 1px solid var(--color-white);
    transition: all 0.5s ease;
}

#form-receita .env-bnt button {
    padding: 0.5rem;
    background-color: transparent;
    color: var(--color-white);
    border: 1px solid var(--color-white);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

#form-receita .env-bnt button:hover {
    color: var(--color-verde2);
    background-color: var(--color-white);
    border: none;
    box-shadow: 0 0 15px var(--color-verde2);
    transition: all 0.5s ease;
    transition: background-color 0.5s ease-in-out;
}

#form-receita .timeImg {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
    justify-content: space-around;
}

#form-receita .timeImg .img-env {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0.5rem;
    border-right: 1px solid var(--color-white);
}

#form-receita .timeImg .time-env {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0.5rem;

}

.timeImg .time-env .tempo-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem 0.5rem;
    border-right: 1px solid var(--color-white);
}

.timeImg .time-env .porcoes-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem 0.5rem;
}

#form-receita .env-bnt {
    width: 100%;
    padding: 0 1rem;
    margin: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: end;
}

.enviar_ingredientes{
    width: 100%;
}

.enviar_ingredientes p{
    margin-bottom: 0.5rem;
}

